/* Deals with the styleing of the countdown section from the mainpage */
body{
    padding:10px;
    min-width:300px;
    min-height:400px;
    background-image:url("background.jpg");
    background-repeat:no-repeat;
    background-size:9cm;
    
}
#time{
    height:1cm;
    font-size:large;
}
.centered{
    font-size:medium;
    color:yellow;
}
span.errors{
    color:red;
}
button.butto{
    color:green;

}
 
.button{
    width:22%;
    height:1cm;
    transition-duration: 900ms;
    box-shadow: 0 9px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius:20px;
}
#timeBu:hover{
    background-color:transparent;
    font-weight:bold;
    color:greenyellow;
    box-shadow: 0px 5px rgb(145, 145, 146);
}
#stopAlarm:hover{
    background-color:transparent;
    font-weight:bold;
    color:red;
    box-shadow: 0px 5px rgb(145, 145, 146);
}

.button:active {
  box-shadow: 0px 5px #666;
  transform: translateY(2px);
  transition:1ms;
}
button.switch{
    color:blue;
    background-color:transparent;
    border-color:transparent;
    outline-color:transparent;
    text-decoration: underline blue;
}
button.switch:hover{
    cursor:pointer;
}
/*
div.moreinfo, div.stop{
    display:flex;
    display:block;
    justify-content:space-between;
    justify-content:flex-start;
}
*/